#log{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#111111;
    height: 100vh;
}
#cinquenta{
    flex: 1;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
}
#textoLog{
    color:  #D4A853;
    background-color: #1A1A1A;
}
#circuloLogDois{
    flex: 1;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}