/*pai*/
#main {
    background-color: #1A1A1A;
    margin-top: 100px;
    display: flex;
    height: 70vh;
}


/*lado esquerdo */
#apresentaçao {
    background-color: #1A1A1A;
    align-items: center;
    padding: 50px;
    align-items: center;
}

#bankai {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
    margin-right: 100px;
}

#rra {
    color: aliceblue;
}

#aja {
    font-size: 60px;
    margin: 50px 0;
}

#aan {
    font-size: 10px;
    margin: 50px 0;
}

.qqq {
    font-size: 60px;

}

#ooo {
    text-align: left;
    font-size: 20px;
    margin: 50px 0;
}

/*lado direito*/
#proMasCom {
    background-color: #1A1A1A;
    flex: 2;

}

#card {
    display: flex;
    justify-content: center;

}

#card :hover {
    
    height: auto;
    width: 261px;
    margin: 60px;

    #valor {
        display: none;
        height: 0%;
    }

    #descriçao {
        display: none;
    }

    .center {
        display: none;
    }
    #imag {
    height: 312px;
    width: 230px;
    padding: 10px;
    border-radius: 10px;
}
}

#imag {
    height: 332px;
    width: 260px;
    padding: 10px;
    border-radius: 20px;
}

#descriçao {
    font-size: 30px;
    text-align: left;
    padding: 10px;
}

#valor {
    font-size: 30px;
    text-align: left;
    padding: 10px;
}

#produto {
    height: auto;
    width: 261px;
    background-color: #323232;
    border: 1px solid #D4A853;
    border-radius: 10px;
    margin: 19px;
    align-items: end;
}

#aaall {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 148px;
}

.center {
    align-items: center;
}